*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  color: #000000;
  line-height: 32px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.header {
  min-height: 100vh;
}

.main-content {
  width: 420px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.main-content p {
  padding: 20px;
}

.list-item {
  padding-left: 7px;
  margin-bottom: 15px;

  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(40px);
  opacity: 0;
}

.list-item:nth-child(4) {
  margin-bottom: 1em;
}

.list-item--active {
  transform: translateX(0px);
  opacity: 1;
}

.box-1 {
  font-weight: bold;
  background-color: #55cbc2;
  color: #ffffff;

  transform: translateX(-7em);
  opacity: 0;

  transition: transform 0.5s ease, opacity 0.5s ease;
}

.box-1--active {
  transform: translateX(0);
  opacity: 1;
}

.box-2 {
  background-color: #ff789b;
  color: #ffffff;
  margin-bottom: 7em;

  opacity: 0;
  transform-origin: center;
  transform: scale(2);

  transition: transform 0.5s ease, opacity 0.5s ease;
}

.box-2--active {
  opacity: 1;
  transform: scale(1);
}
