* {
  box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
  margin: 0;
  background-color: #eeeeee;
}

.wrapper {
  padding: 30px;
}

.card {
  width: 260px;
  margin: 1rem;
  cursor: pointer;
}

.card__title {
  font-size: 30px;
  margin-bottom: 2rem;
  position: relative;
}

.card__title:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.card__container {
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
}

.card__inner {
  transform: translateZ(60px) scale(0.94); 
  padding: 2rem;
}

.card__front,
.card__back {
  min-height: 280px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
}

.card__front {
  background-image: url("https://picsum.photos/id/1018/500/500/");
  background-size: cover;
  background-position: center;

  position: relative;
  z-index: 10;

  transform: rotateX(0deg);
  transform-style: preserve-3d;
}

.card:hover .card__front {
  transform: rotateX(-180deg);
}

.card__front:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.6;
  background-color: #000;
  border-radius: 10px;
}

.card__back {
  background: #cedce7;
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  transform: rotateX(180deg);
  transform-style: preserve-3d;
}

.card:hover .card__back {
  transform: rotateX(0deg);
}
