*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.scroller {
  padding: 50px 30px;
  background-color: #E5E5E5;
  /* Уберём горизонтальную прокрутку у родителя scroller. 
  Элементы будут прокручиваться за счёт трансформации сдвига по горизонтали для scroller__list. 
  Остальное будет делать JavaScript. */
  overflow-x: hidden;
}

.scroller__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.scroller__item {
  width: 165px;
  height: 165px;
  flex-shrink: 0;
  background-color: #D5EEC6;
  background: linear-gradient(226.18deg, #9CC485 16.31%, #D5EEC6 84.56%);
  border-radius: 50%;
}

.scroller__img {
  object-fit: cover;
  width: 100%;
  display: block;
}

.scroller__progress {
  margin-top: 50px;
}

.scroller__progress-bar {
  pointer-events: none;
  width: 20vw;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
}
