body {
	font-family: Arial;
	padding: 30px;
  margin: 0;
}

.btn {
	padding: 10px 20px;
	background-color: #2d2d44;
	color: #ffffff;
	font-size: 18px;
	border: none;
	font-family: inherit;
}

.btn:hover, .btn:focus {
	background-color: #2d2d44d1;
}

.btn:active {
	opacity: 0.8;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	padding: 30px;
	background-color: #80808070;
	display: flex;
	justify-content: center;
	align-items: center;

	pointer-events: none;
	opacity: 0;

	transform: scale(1.15);
	transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
		opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal--open {
	pointer-events: auto;
	opacity: 1;

	transform: scale(1);
	transition:
    transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal-wrapper {
	padding: 30px;
	background-color: #fff;
	max-width: 600px;
	width: 80%;
	border-radius: 20px;
	text-align: center;
}
